@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    text-align: center;
    background-image: url(pers/walp.jpg);
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    border: solid;
}
.selection_person img:hover{
    height: 110px;
    width: 110px;
    cursor:pointer;
}

.img_final{
    height: 110px;
    width: 110px;
    border-radius: 20px;
}

button {
    border: solid;
    border-radius: 10px;
    background-color: rgb(73, 145, 145);
    font-weight: bold;
    font-size: 30px;
    outline: none;
}

.confirmation{
    cursor:pointer;
    margin-top:2em;
    padding:.5em;
    width:auto;
    margin-left:auto;
    margin-right:auto;
    border-radius:2em;
    border:solid;
    font-size:16px;
    background:#01cec7;
    color:#000;
    font-weight:bold;
}
.cursor{
    cursor: auto;
}

label, a {

    font-size: 30px;
    background-color: aqua;
    color: black;
}


.barra_vida{
    background-color: blue;
    height: 10px;
}

.selection_person{
    border: solid;
    background-color: black;
    border-radius: 20px;
    margin-inline-end: 145px;
    margin-inline-start: 145px;
    margin-bottom: 20px; 
}



.format{
    width: 100vw;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.titulo{
    color: white;
    background-color: black;
    width: auto;
    margin-right: 50px;
    font-size: 20px;
    border-radius: 5px;
}

#contagem{
    font-size: 50px;
}

.row{
    margin-bottom: 15px;
}

.border{
    border: solid;
    border-width: 2px;
    border-color: #000;
    background-image: url(pers/walp2.jpg);
    background-size: 100%;

}